.container {
    min-height: 90vh;
    display: flex;
    padding: 30px;
}

.icon {
    width: 40vw;
    height: 80vh;
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;
}